@import url("https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300;700&display=swap");

body {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 70%);
  background: rgb(194, 180, 99);
}

h1 {
  font-family: "kan415typos-std", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: rgba(0, 0, 0, 70%);
  text-decoration: none;

  &:hover {
    color: rgb(0, 0, 128);
    text-decoration: underline;
  }
}

ul {
  padding-inline-start: 1rem;
}
